.container-fluid {
  background-color:white ;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
.container_back {
  background-color:rgb(168, 59, 59);
  border-radius: 3%;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container {
  background-color: white;
  min-height:fit-content;
  border-radius:10px;
  padding: 20px;
}
table {
  width: 100%;
  height: 100%;
}
hr {
  margin: 2px;
}
.img_dimension {
  width: 60px;
  height: 60px;
}
.table_responsive {
  overflow-x: auto !important;
  width: 100% !important;
  margin: auto;
}
.width_filter {
  width: 30%;
}
.mat-elevation-z8{
  overflow: auto;
  max-width: 100%;
  max-height: 500px;
}
.fa-edit, .fa-trash{
  color: white;
} 
.font_size_14{
  font-size: 14px;
}
.font_weight_large{
  font-weight: bold;
}
.mat_tab_th{
  font-size: large;
  font-weight: bold;
  background-color: white;
  padding: 8px;
}
tr:nth-child(odd){
  background-color: whitesmoke;
}
.button_add_stuff:hover{
  background-color: lightgray;
}
.size_modal{
  width: fit-content;
  height: fit-content;
}
/*responsive table*/
@media (max-width:1100px){
  th {
    display: none;
  }
  td {
    display: block;
    width: 100%;
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .button_width {
    line-height: 16px; 
  }
}