<div class="container-fluid">
    <div class="container p-5">
        <div class="row" id="chart-div1">
            <div class="pie-div">
                <div class="number">{{dataMembers.length}}</div>
                <canvas id="myChart1"></canvas>
            </div>
            <div class="pie-div">
                <div class="number">{{dataStaff.length}}</div>
                <canvas id="myChart2"></canvas>
            </div>
            <div class="pie-div">
                <div class="number">{{dataMembership.length}}</div>
                <canvas id="myChart3"></canvas>
            </div>
            <div class="pie-div">
                <div class="number num-4">{{dataClass.length}}</div>
                <canvas id="myChart5"></canvas>
            </div>
        </div>
        <br>
        <div class="row" id="chart-div2">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</div>
